* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
select,
textarea {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #E5E5E5;
}

body::before {
  content: '';
  width: 100%;
  height: 368px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #535971;
}

.page {
  width: 736px;
  margin: auto;
}

header {
  width: 319px;

  margin-top: 74px;
}

header h1 {
  font-family: 'Archivo' sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: white;

  margin-bottom: 24px;
}

header p {
  font-size: 16px;
  line-height: 26px;

  color: #FFFFFF;
}

form {
  margin-top: 38px;
  background: #fafafc;
  min-height: 300px;
  border-radius: 8px 8px 0 0;

  padding: 64px;

  display: flex;
  flex-direction: column;
  gap: 48px;
}

fieldset {
  border: none;
}

.nome-sobrenome {
  display: flex;
  gap: 20px;
}

.input-name label {
  font-size: 12px;
  line-height: 24px;

  color: #4e4958;

  margin-bottom: 8px;
}

.input-name input {
  background: #fafafc;

  border: 1px solid #e6e6f0;
  border-radius: 8px;

  height: 56px;

  padding: 0 24px;

  font-size: 13px;
  line-height: 26px;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}


fieldset legend {
  font-family: 'Archivo';
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;

  width: 100%;

  border-bottom: 1px solid #e6e6f0;
  padding-bottom: 16px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  font-size: 12px;
  line-height: 24px;

  color: #4e4958;

  margin-bottom: 8px;
}

.input-wrapper label span {
  margin-left: 12px;

  font-size: 12px;
  line-height: 20px;

  color: #c1bccc;
}

.input-wrapper label span:hover {
  color: #8f8d95;
}

.input-wrapper input {
  background: #fafafc;

  border: 1px solid #e6e6f0;
  border-radius: 8px;

  height: 56px;

  padding: 0 24px;

  font-size: 16px;
  line-height: 26px;
}

.col-3 {
  display: flex;
  gap: 20px;
}

.cal-3>div:nth-child() {
  width: 100%;
}


footer {
  background: #535971;

  height: 136px;

  display: flex;
  flex-direction: column;

  padding: 40px 64px;

  margin-bottom: 100px;

  border-top: 1px solid #d6d6d6;
  border-radius: 0 0 8px 8px;
}

footer .button {
  height: 56px;
  background: #FF5374;
  border: 0;
  border-radius: 8px;

  font-family: 'Archivo';

  font-weight: 600;
  font-size: 16px;
  line-height: 26px;


  color: #FFFFFF;
}

footer .button:hover {

  background: #d43b59;
}

input:invalid {
  border: 1px solid red;
}